.App {
  text-align: center;
  background-image: linear-gradient(
      rgba(43, 42, 42, 0.2),
      rgba(43, 42, 32, 0.2)
    ),
    url("./Image/27818-bnb-kitchen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  min-height: 122vh;
}
.login{
  border: 1px black solid;
  width: 22%;
  background: rgb(187, 154, 116);  
  margin: 8% 0 0 35%;
  padding:2.5%;
  border-radius: 8px;
  color:white;
}
.loginlink{
  padding:1%;
  color:white;
}
.banner{  
  background-image:url("./Image/marbel.jpg");
  color:white;
  padding:0.7%;
  margin-bottom:22px
}
button{
  border-radius: 7px;
  width:6%;
  padding:0.5%;
  font-size: medium;
  margin-top:20px
}
.bt{
  background-color: #ebe5df;
  width: 110px;
  font-weight: 550;
  font-size: 17px;
  color:#1b1a1a;
  padding:0.4% 0.5% 0.35% 0.5%;
}

button:hover{  
  background: #e4d9ce;  
}
.butn{
  width:66%;
  margin-left: 3%;
  padding:1.5%;
  border: #0f0f0f solid 0.3%;
  background:rgb(53,23,14);  
  color:#f0f0f0
}
.btn{  
  margin-top:0;
  width:42%;
  margin-left: 3%;
  padding:0.5%;
  border: #0f0f0f solid 0.3%;
  background:rgb(53,23,14);  
  color:#f0f0f0;
  font-size:small;  
}
.btn:hover{
  padding:0.7%!important;
}

.bn{
  margin-left: 10% !important;
  width:80%
}
.butn:hover{  
  background:#29201a;  
  border: #2b2929 solid 0.2%; 
  padding:1.5%;  
  border-radius:7px;
}
.flex{
  display:flex;
  width: 87%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto; 
}
.allCard{  
  min-width: 200px;
  border: 1px black solid;
  background-color: rgb(34, 18, 3);
  background-size: 40%;
  min-height: 25vh;
  background-position-x: unset;
  margin: 3% 1% 2% 1%;  
  /* word-break: break-all; */ 
  overflow-wrap: break-word;
  border-radius: 8px 8px 8px 8px; 
  color:white;
  font-size: 20px;  
}
.allCard:hover{
  background-image: linear-gradient(
    rgba(43, 42, 42, 0.2),
    rgba(43, 42, 32, 0.6)
  ),
  url("./Image/rug.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 280px;
  background-size: cover;
}
.innerbox{
  width:260px;
  height: 250px;
  margin:3% 3%;
  border:white;
  background-color: #f3e7de;
  color:black; 
  padding:1.5%;
  font-style: italic;
  font-size: 16px;
  border-radius: 8px;
  text-align: justify;
}
.fake{
  width: 270px;
  height: 40px; 
  margin:1px 3px 1px 10px;
  background-image:url("./Image/marbel.jpg")
}
.allevents{
  background:rgb(218, 201, 191);  
  width:80%;
  margin:auto;  
}
.full-width{
  width: 100%;
}
.link{  
  background: #ebe5df;  
  text-decoration:none;
  font-size: 0.9rem;
  color:#1b1a1a;
  border-radius: 3px;  
  margin: 25% 3% 3% 8%;
  padding: 0.2% 0.5% 0.2% 0.5%;
  font-size: 18px;
  font-weight: 500;
}
.link:hover{
  background:#e4d9ce;
  color:black;
  width: 30%;
  padding:0.2% 0.5% 0.2% 0.5%;
  border: 1px black solid;
  border-radius:6px;
}
.form{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  width:25%;
  margin: 2% auto 2% auto;
  border: white 1px solid;
  padding:2%;
  border-radius: 6px;
  background:white;
}
.input{
  margin:0.5%;
  padding:1%;
  background:#ddc9bb;  
}
.input:hover{
  background: white;
}
.in-background{
  background: #e4d9ce;
}
h1{
  font-size: 30px;
}
.welcome{
  background-image: linear-gradient(
    #7A4A14,
    #ebe5df);
  font-style: italic;
  color: #1C0701;
  /* background-color:#e4d9ce ; */
  width:38%;
  margin: 2% auto;
  border-radius: 7px; 
}
h2{ 
  background-image:url("./Image/marbel.jpg");
  width:80%;
  font-size:21px;
  color: #e4d9ce;
  margin:auto;
  border:1px black solid;
  border-radius: 7px;
  padding:0.8% 0 0.8% 0;
}
p{
  margin-left:4%;
  line-height: 12pt;
}
.myrentals{
display: flex;
width: 80%;
height: 40vh;
margin: 0 auto;
justify-content: space-between;
flex-wrap: wrap;
}  
.myrental{
  background-image: linear-gradient(
    rgba(43, 42, 42, 0.2),
    rgba(43, 42, 32, 0.7)
  ),
  url("./Image/brown-background.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14%;
  background-size: cover;
  min-height: 10vh;
  border: 1px black solid;
  margin:1.6%;  
  width: 20%;  
  font-size: 12px;
  border-radius: 16px;
  padding: 1.5%; 
  font-style: italic; 
  text-align: justify; 
}
.cover{
 background:#e4d9ce;
 width:80%;
 margin: 0 auto;
 border-radius: 8px;
 padding:1%;
 border: 2px rgb(139,107,60) solid;
}  
.heading{ 
  margin-top:2%
}
.Modal{
  position: fixed; 
  top: 75px;
  background:#f8f8f8;
  display: flex;
  flex-direction: column;
  margin-left:12%;
  width: 14.5%; 
  padding:1.5%;
  border: 0.1rem black solid;
  border-radius: 8px
};





