.App {
  text-align: center;
  background-image: linear-gradient(
      rgba(43, 42, 42, 0.2),
      rgba(43, 42, 32, 0.2)
    ),
    url("./Image/27818-bnb-kitchen.jpg");
  background-position: center;
  background-color:#DAC9BF;
  background-repeat: no-repeat;
  background-size: 80%;
  min-height: 100vh;
}
.login{
  border: 1px black solid;
  width: 22%;
  background: rgb(155, 109, 56);  
  margin: 8% 0 0 35%;
  padding:2.5%;
  border-radius: 8px;
  color:white;
}
.loginlink{
  padding:1%;
  color:white;
}
.banner{  
  background-image:url("./Image/marbel.jpg");
  color:white;
  padding:0.7%;
  margin-bottom:22px
}
button{
  border-radius: 7px;
  width:6%;
  padding:0.5%;
  font-size: medium;
  margin-top:20px
}
.bt{
  width: 100px;
  font-weight: 550;
  font-size: 17px;
}
button:hover{
  width:6.5%;
  background: #ddc9bb;  
}
.butn{
  width:40%;
  margin-left: 7%;
  padding:1%;
}
.btn{
  margin-left: 29% !important; 
}
.butn:hover{
  background:rgb(81,44,31);
  width:41%;
  color: white;
  padding:2%;  
  border-radius:7px;
}
.flex{
  display:flex;
  width: 87%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto; 
}
.allCard{  
  min-width: 288px;
  border: 1px black solid;
  background-color: rgb(34, 18, 3);
  background-size: 40%;
  min-height: 25vh;
  background-position-x: unset;
  margin: 3% 1% 2% 1%;  
  /* word-break: break-all; */
  border-radius: 8px 8px 8px 8px; 
  color:white;
  font-size: 20px;  
}
.allCard:hover{
  background-image: linear-gradient(
    rgba(43, 42, 42, 0.2),
    rgba(43, 42, 32, 0.6)
  ),
  url("./Image/rug.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 280px;
  min-height: 25vh;
  background-position: unset;
  background-size: cover;
  color:white;  
}
.innerbox{
  width:260px;
  height: 250px;
  margin:3% 3%;
  border:white;
  background-color: #f3e7de;
  color:black; 
  padding:1.5%;
  font-style: italic;
  font-size: 18px;
  border-radius: 8px;
  text-align: justify;
}
.fake{
  width: 270px;
  height: 40px; 
  margin:1px 3px 1px 10px;
  background-image:url("./Image/marbel.jpg")
}
.allevents{
  background:rgb(218, 201, 191);    
}
.link{ 
  background: white;  
  text-decoration:none;
  font-size: 0.9rem;
  color:black;
  border-radius: 3px;  
  margin: 25% 3% 3% 8%;
  padding: 0.3%;
  font-size: 18px;
  font-weight: 500;
}
.link:hover{
  background:#ddc9bb;
  color:black;
  width: 30%;
  padding:0.4%;
  border-radius:6px;
}
.form{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  width:25%;
  margin: 2% auto 2% auto;
  border: white 1px solid;
  padding:2%;
  border-radius: 6px;
  background:white;
}
.input{
  margin:0.5%;
  padding:1%;
  background:#ddc9bb;  
}
.input:hover{
  background: white;
}
h1{
  font-size: 40px
}
h2{
  background: white;
  width:30%;
  margin:auto;
  border:1px black solid;
  border-radius: 7px;
  padding:0.8%;
}
p{
  margin-left:4%;
}
.myrentals{
display: flex;
width: 86%;

margin: 0 auto;
justify-content: space-between;
flex-wrap: wrap;
background: rgb(212,212,212);
}  
.myrental{
  background-image: linear-gradient(
    rgba(43, 42, 42, 0.2),
    rgba(43, 42, 32, 0.7)
  ),
  url("./Image/brown-background.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14%;
  background-size: cover;
  min-height: 10vh;
  border: 1px black solid;
  margin:1.4%;  
  width: 22%;  
  border-radius: 4px;
  padding: 1%; 
  font-style: italic; 
  text-align: justify;  
}
.cover{
 background:#ddc9bb;
 width:80%;
 margin: 0 auto;
 border-radius: 8px;
 padding:1%;
 border: 2px rgb(139,107,60) solid;
}  
.heading{
  background:rgb(212,212,212);
  padding:1%;
  margin-top:0
}
.Modal{
  position: fixed; 
  top: 75px;
  background: rgb(207, 202, 202);
  display: flex;
  flex-direction: column;
  margin-left:12%;
  width: 14.5%; 
};





