.App {
  text-align: center;
  background-image: linear-gradient(
      rgba(43, 42, 42, 0.2),
      rgba(43, 42, 32, 0.2)
    ),
    url("./Image/27818-bnb-kitchen.jpg");
  background-position: center;
  background-color:#DAC9BF;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  /* background-position: unset; */

}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.login{
  border: 1px black solid;
  width: 22%;
  background: rgb(155, 109, 56);
  /* background-image:url("./Image/marbel.jpg") ; */
  margin: 8% 0 0 35%;
  padding:2.5%;
  border-radius: 8px;
  color:white;
}
.loginlink{
  padding:1%;
  color:white;
}

.banner{
  /* background: rgb(81,44,31);  */
  background-image:url("./Image/marbel.jpg");
  color:white;
  padding:0.7%;
  margin-bottom:22px
}
button{
  border-radius: 7px;
  width:6%;
  padding:0.5%;
  font-size: medium;
  margin-top:20px
}
.bt{
  width: 100px
}
button:hover{
  width:6.5%;
  background: #ddc9bb;
  /* padding:0.9%; */
}
.butn{
  width:45%;
  margin: 3% auto;
  padding:1%;
}

.butn:hover{
  background:rgb(81,44,31);
  width:35%;
  color: white;
  padding:2%;  
  border-radius:7px;
}


.flex{
  display:flex;
  flex-wrap: wrap;
  justify-content: space between;
}
.allCard{
  width:20%;
  border: 1px black solid;
  /* background-image: linear-gradient(
    rgba(43, 42, 42, 0.2),
    rgba(43, 42, 32, 0.2)
  ),
  url("./Image/background-coffee.jfif"); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: 40%; */
  background-color: rgb(34, 18, 3);
  background-size: 40%;
  min-height: 25vh;
  background-position-x: unset;
  margin: 1%;
  /* word-break: break-all; */
  border-radius: 8px; 
  color:white;
  font-size: 20px;  
}
.allCard:hover{
/* padding:0.1%; */
background-image: linear-gradient(
    rgba(43, 42, 42, 0.2),
    rgba(43, 42, 32, 0.6)
  ),
  url("./Image/rug.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 40%;
  min-height: 25vh;
  background-position: unset;
  background-size: cover;
  color:white;  
}
.innerbox{
  width:220px;
  height: 250px;
  margin:3% 3%;
  border:white;
  background-color: white;
  color:black; 
  padding:2%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.fake{
  width: 305x;
  height: 40px;
  margin:1px 3px 1px 10px;
  background-image:url("./Image/marbel.jpg")

}
.allevents{
  background:rgb(218, 201, 191);  
}

.link{
  /* width:40px; */
  background: white;
  /* margin:4%; */
  text-decoration:none;
  font-size: 0.9rem;
  color:black;
  border-radius: 3px;  
  margin: 25% 3% 3% 8%;
  padding: 0.3%;
  font-size: large;
}

.link:hover{
  background:#ddc9bb;
  color:black;
  width: 30%;
  padding:0.4%;
  border-radius:6px;

}
.form{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  width:25%;
  margin: 2% auto 2% auto;
  border: white 1px solid;
  padding:2%;
  border-radius: 6px;
  background:white;
}

.input{
  margin:0.5%;
  padding:1%;
  background:#ddc9bb;  
}

.input:hover{
  background: white;
}
h1{
  font-size: 40px
}
h2{
  background: white;
  width:30%;
  margin:auto;
  border:1px black solid;
  border-radius: 7px;
  padding:0.8%;
}

.myrentals{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
background: rgb(212,212,212);
}  

.myrental{
  background-image: linear-gradient(
    rgba(43, 42, 42, 0.2),
    rgba(43, 42, 32, 0.7)
  ),
  url("./Image/brown-background.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
  background-size: cover;
  min-height: 10vh;
  border: 1px black solid;
  margin-bottom:15%;  
  width: 22%;
  border-radius: 8px;
  padding: 2%;   
  
}

.cover{
 background:#ddc9bb;
 width:80%;
 margin: 0 auto;
 border-radius: 8px;
 padding:1%;
 border: 2px rgb(139,107,60) solid;
}
  
.heading{
  background:rgb(212,212,212);
  padding:1%;
  margin-top:0
}




